body {
    background-color:#BDBDBD;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    min-width: 450px;
}

p {
    margin: 30px;
}

h2 {
    margin: 30px;
}

.navbar-logo {
    height: 60px;
}

.logo {
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin: 40px;
}

.card-img-top {
    height: 270px;
}

.margin {
    margin-bottom: 45px;
}

.homepage-text {
    padding-top: 40px;
    padding-bottom: 40px;
  }

.about-us-brand {
    height: 200px;
}

.about-us-logo {
    height: 150px;
}

.pet-image-container {
    height: 275px;
    width: 275px;
}

.pet-image {
    height: 275px;
    width: 275px;
    border-radius: 50%;
}

.mobile-pet {
    display: none;
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 976px) {
    .logo-banner {
        text-align: center;
    }
}

@media screen and (max-width: 1275px) {
    .mobile-pet {
        display: block;
    }

    .desktop-pet {
        display: none;
    }

}


